table,th,td{
    border: 2px solid #5c93bd;
    padding: 10px;
    margin: auto;
    background-color: lightyellow;
    text-align: center;
}
img{
    border: 5px dashed paleturquoise;
    padding: 5px;
    margin: 10px;
}
label.label input[type="file"],input[type="submit"] {
        position: absolute;
        top: -1000px;
      }
      .label {
        cursor: pointer;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 10px 15px;
        margin: 5px;
        background: #dddddd;
        display: inline-block;
      }
      .label:hover {
        background: #5c93bd;
      }
      .label:active {
        background: #9fa1a0;
      }
      .label:invalid + span {
        color: #000000;
      }
      .label:valid + span {
        color: #ffffff;
      }